# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Others
*.cache
*.dbmdl
*.bak
*.tmp
