@model QuanLyQuanCafe.Models.DonHang

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaDonHang" />
            <div class="form-group mb-2">
                <label asp-for="MaNguoiDung" class="control-label">Mã người dùng</label>
                @Html.DropDownListFor(model => model.MaNguoiDung, (SelectList)ViewBag.MaNguoiDung, "0", new { @class = "form-control" })
            </div>
            <div class="form-group mb-2">
                <label asp-for="MaBan" class="control-label">Mã bàn</label>
                @Html.DropDownListFor(model => model.MaBan, (SelectList)ViewBag.MaBan, "0", new { @class = "form-control" })
            </div>
            <div class="form-group mb-2">
                <label asp-for="ThoiGianTao" class="control-label">Thời gian tạo</label>
                <input asp-for="ThoiGianTao" class="form-control" />
                <span asp-validation-for="ThoiGianTao" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ThoiGianCapNhat" class="control-label">Thời gian cập nhật</label>
                <input asp-for="ThoiGianCapNhat" class="form-control" />
                <span asp-validation-for="ThoiGianCapNhat" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="LoaiDonHang" class="control-label">Loại đơn hàng</label>
                <select asp-for="LoaiDonHang" class="form-control" asp-items="ViewBag.LoaiDonHang"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                <select asp-for="TrangThai" class="form-control" asp-items="ViewBag.TrangThai"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
